.sidebarContainer{
    width: 6rem;
    height: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    z-index: 100;

    background:var(--white);

    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    visibility: hidden;
    opacity: 0;
}

@media (min-width:1180px){
    .sidebarContainer{
        opacity: 1;
        visibility: visible;
    }
}

.sidebarContainer header img {
    width:3rem;
    height:3rem;
}

.sidebarContainer main {
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebarContainer main img{
    cursor: pointer;
}

.sidebarContainer main img:first-child {
    margin-bottom: 2rem;
}

.imageActive {
    position:relative;
    border-left: 5px solid var(--blue);
    padding: 1.85rem;
}


/* 
I don't know.This is not really working
.imageActive::before {
    content:"";

    position:absolute;
    height: 15rem;
    top:0;
    bottom:0;
    left:0;
    right:0;
    content:'';

    background: var(--blue);
    border-radius: 0px 5px 5px 0px;
}  */